* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
}

.information {
    position: fixed;
    top: 5%;
    left: 5%;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    border-radius: 1rem;
}

#date {
    font-size: 1.2rem;
}

#time {
    font-size: 5rem;
    margin-top: 20px;
}

#weather {
    font-size: 1.5em;
    margin-top: 20px;
}

.weather-icon {
    font-size: 2em;
    margin-right: 10px;
}

#todo {
    font-size: 1.3rem;
    text-align: left;
}

#todo label {
    line-height: 2.5rem;
}

#todo input {
    transform: scale(2);
    margin-right: 1rem;
}

#news-container {
    margin-top: 20px;
    height: 80%;
    /* ニュース欄の高さ */
    overflow: hidden;
    /* はみ出た部分を隠す */
    position: relative;
}

#news-list {
    width: 100%;
    position: absolute;
}

.tab-container {
    position: fixed;
    width: 40%;
    height: 40%;
    bottom: 5%;
    right: 5%;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    -ms-overflow-style: none;
    /* IE・Edge */
    scrollbar-width: none;
}

.tab-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.tab-content {
    display: flex;
    width: 200%;
    /* 2つのタブ分 */
}

.tab {
    scroll-snap-align: start;
    min-width: 40vw;
    padding: 2rem;
}